@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

main {
  min-height: calc(100vh - 101px); /* calculate based on footer height */
  padding-top: 56px; /* calculate based on header-nav height */
}

@screen md {
  main {
    padding-top: 60px; /* calculate based on header-nav height */
  }
}

a {
  @apply text-wd-dark transition-colors duration-150;
}

.container {
  @apply px-4 lg:px-0;
}

.u-safe-area {
  @apply py-10 sm:py-16 lg:py-20;
}

.u-link-underline {
  @apply border-b-0 bg-[length:0_3px] bg-no-repeat;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-position: 0 100%;
  transition: background-size 0.15s ease-in-out;
}

.u-link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#2563eb, #2563eb);
}

.dark .u-link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ffffff, #ffffff);
}

.u-link-underline.active,
.u-link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.emoji-hand {
  animation: 5s ease-out 1s hands infinite;
}

@screen xl {
  .emoji-hand-disable-xl {
    animation: none;
  }
}

.c-header:hover .emoji-logo {
  transform: scale(100%);
  animation: 0.75s ease-out 0.25s logo;
}

@keyframes hands {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(16deg) scale(110%);
  }
  40% {
    transform: rotate(-16deg) scale(140%);
  }
  60% {
    transform: rotate(16deg) scale(110%);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
