@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

main {
  min-height: calc(100vh - 101px); /* calculate based on footer height */
  padding-top: 56px; /* calculate based on header-nav height */
}

@screen md {
  main {
    padding-top: 60px; /* calculate based on header-nav height */
  }
}

a {
  @apply text-wd-dark transition-colors duration-150;
}

.container {
  @apply px-4 lg:px-0;
}

.u-safe-area {
  @apply py-10 sm:py-16 lg:py-20;
}

.u-link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.15s ease-in-out;
}

.u-link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#2563eb, #2563eb);
}

.u-link-underline.active,
.u-link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.emoji-hand {
  animation: 5s ease-out 1s hands infinite;
}

@screen xl {
  .emoji-hand-disable-xl {
    animation: none;
  }
}

.c-header:hover .emoji-logo {
  transform: scale(100%);
  animation: 0.75s ease-out 0.25s logo;
}

.shadow-spread {
  box-shadow: 0px -20px 24px 12px rgb(241 245 249 / 50%);
}

@media (prefers-color-scheme: dark) {
  .shadow-spread {
    box-shadow: 0px -20px 24px 12px rgb(71 85 105 / 50%);
  }
}

@keyframes hands {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(16deg) scale(110%);
  }
  40% {
    transform: rotate(-16deg) scale(140%);
  }
  60% {
    transform: rotate(16deg) scale(110%);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.bg-pattern-triangle {
  @apply bg-slate-500;
  background-image: linear-gradient(
    -45deg,
    #f8fafc,
    #f8fafc 50%,
    #e2e8f0 50%,
    #e2e8f0
  );
  background-size: 28px 28px;
}

.bg-pattern-polka {
  @apply bg-slate-500;
  background-image: radial-gradient(#1d4ed8 0.75px, #f8fafc 0.75px);
  background-size: 20px 20px;
}
